{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% load indexfilter %}

<head>
    <title>커뮤니티</title>
    <style>

    #but{
        margin-left:50px;
        margin-top:100px;
    }
    #table1{
        margin-left:30px;
        margin-top:30px;
    }
    .page{
        text-align: center;
    }
    .new{
        margin-left:800px;
    }

    #main {
        margin-top:150px;
    }
</style>
</head>

<body>
    <div class="col-md-11" id="main">       
        <div id="table1" class="row mt-5">
            <div class="col-12">
                <table class="table table-hover" style="text-align: center;">
                    <tr>
                    <th style="text-align: center;">No</th>
                    <th style="text-align: center;">제목</th>
                    <th style="text-align: center;">글쓴이</th>
                    <th style="text-align: center;">작성일</th>
                    <th style="text-align: center;">추천수</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td><font color="red">공지</font></td>
                        <td><a href="{% url 'notice1' %}">게시물 작성법</a></td>
                        <td>관리자</td>
                        <td>2021년 8월 11일 10:17 오후</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><font color="red">공지</font></td>
                        <td><a href="{% url 'notice2' %}">태그 작성법</a></td>
                        <td>관리자</td>
                        <td>2021년 8월 11일 10:17 오후</td>
                        <td></td>
                    </tr>

                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{ posts.paginator.count|sub:posts.start_index|sub:forloop.counter0|add:1 }}</th>
                        {% if request.user %}
                            <td><a href="{% url 'postshow' post.id %}">{{post.title}}</a></td>
                        {% else %}
                            <td><a href="" onclick = "return alert('로그인 후 열람 가능합니다.')">{{post.title}}</a></td>
                        {% endif %}
                        <td>{{ post.writer }}</td>
                        <td>{{ post.pub_date }}</td>
                        <td>{{ post.like.all.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
            <div class="page">
                <ul class="pagination justify-content-center">
                  {% if posts.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                  </li>
                  {% endif %}
                  {% for page_number in posts.paginator.page_range %}
                      {% if page_number == posts.number %}
                      <li class="page-item active" aria-current="page">
                          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                      </li>
                      {% else %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                      </li>
                      {% endif %}
                  {% endfor %}
                  {% if posts.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                  </li>
                  {% endif %}
                  
    </div>
    <div id="new">
        {% if request.user %}
            <a class="new" href="{% url 'postcreate' %}"><button type="button" class="btn btn-warning">새 글 작성</button></a>
        {% endif %}
    </div>  
</body>
{% endblock %}





      
      
      
        