{% extends 'list.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <style>
        #cookResult {
            background-color:bisque;
            border-radius: 20px;
            width : 1000px
        }
        </style>
    </head>
<body>
    <div id="cookResult" class="col-md-12">

            <h3>제목 : 게시물 작성법</h3>
            <br/>
            <p>글쓴이 : 관리자</p>
            <hr/>
            <p>게시물은 일상 공유, 레시피 공유 2가지 카테고리로 작성할 수 있습니다.</p>
            <p>일상 공유에서 오늘 있었던 일들이나 본인이 공유하고 싶은 소중한 순간들을 공유해주세요!</p>
            <p>레시피 공유에서 추천 수가 5개 이상을 받을 경우, 베스트 레시피에 보이게 됩니다.</p>
            <p>여러분이 함께 울거나, 웃었던 공감하는 게시물에 추천 기능을 눌러 일인분 게시판을 아름답게 가꾸어 나가주세요.</p>

            <div class="bt">
                {% if post.writer == user %}
                <a href="{% url 'postupdate' post.id %}"><button type="button" class="btn btn-secondary">수정하기</button></a>
                <a href="{% url 'postdelete' post.id %}"><button type="button" class="btn btn-secondary" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</button></a>
                   
                {% endif %}
            </div>
            <hr/>
            <a href="{% url 'list' %}"><button type="button" class="btn btn-secondary float-right">뒤로가기</button></a>
    </div>

    
</body>
</html>
{% endblock %}


    
    


</div>