{% extends 'base.html' %}
{% block content %}

<br><br><br><br><br>

{% load static %}
<h2>지역별 모아보기</h2>
<input type="button" name="answer" value="더 보기" onclick="showDiv1()" style="background-Color:#F7C945; border-radius: 7px; border: 0; margin-bottom: 8px; margin-top: 10px;" />
<div class="child-page-listing" id="picture1">
  
    <div class="grid-container">
      <article id="3685" class="location-listing">
        <a class="location-title" href="{% url 'weather' %}">자세히 보기</a>
        <div class="location-image">
          <a href="{% url 'course' %}">
            <img src='{% static "mt1.jpg" %}' width="400" height="400"/></a>
        </div>
      </article>
  
      <article id="3688" class="location-listing">
        <a class="location-title" href="{% url 'weather' %}">자세히 보기</a>
        <div class="location-image">
          <a href="#">
            <img src='{% static "mt2.jpg" %}' width="400" height="400"/> </a>
        </div>
      </article>
  
      <article id="3691" class="location-listing">
        <a class="location-title" href="{% url 'weather' %}">자세히 보기</a>
        <div class="location-image">
          <a href="#">
            <img src='{% static "mt3.jpg" %}' width="420" height="420"/></a>
        </div>
      </article>
  </div>
</div>

<div id="picture11">
<p id="mt1">인왕산 in 서울</p>
<p id="mt2">북한산 in 경기</p>
<p id="mt3">한라산 in 제주</p>
</div>

<!--지역별 더보기-->
<div id="regionDiv"  style="display:none; margin-top: 10px;" class="answer_list">
<table class="table" id="lmore">
    <thead class="thead-dark">
      <tr>
        <th scope="col">서울</th>
        <th scope="col">충청도</th>
        <th scope="col">경상북도</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--<th scope="row">서울</th>-->
        <td><a href="{% url 'course' %}">도봉산</a></td>
        <td><a href="{% url 'course' %}">안산</a></td>
        <td><a href="{% url 'course' %}">청계산</a></td>
      </tr>
      <tr>
        <td><a href="{% url 'course' %}">계룡산</a></td>
        <td><a href="{% url 'course' %}">군자산</a></td>
        <td><a href="{% url 'course' %}">구병산</a></td>
      </tr>
      <tr>
        <td><a href="{% url 'course' %}">구미산</a></td>
        <td><a href="{% url 'course' %}">가야산</a></td>
        <td><a href="{% url 'course' %}">대야산</a></td>
      </tr>
    </tbody>
  </table>
</div>
  
<br><br><br>

<!--주제별-->
<h2>주제별 모아보기</h2>
<input type="button" name="answer2" value="더 보기" onclick="showDiv2()" style="background-Color:#F7C945; border-radius: 7px; border: 0; margin-bottom: 8px; margin-top: 10px;" />

  <div class="child-page-listing" id="picture2">
    <div class="grid-container">

    <article id="3694" class="location-listing">
    <a class="location-title" href="{% url 'weather' %}">자세히 보기</a>
    <div class="location-image">
      <a href="#">
        <img src='{% static "mt4.jpg" %}' width="400" height="400"/></a>
    </div>
    </article>

    <article id="3697" class="location-listing">
    <a class="location-title" href="{% url 'weather' %}">자세히 보기</a>
    <div class="location-image">
      <a href="#">
        <img src='{% static "mt5.jpg" %}' width="400" height="400"/></a>
    </div>
  </article>

  <article id="3700" class="location-listing">
    <a class="location-title" href="{% url 'weather' %}"> 자세히 보기</a>
    <div class="location-image">
      <a href="#">
        <img src='{% static "mt6.png" %}' width="420" height="400"/></a>
    </div>
  </article>

</div>
</div>

<div id="picture22">
<p id="mt4">인생샷 건지기 좋은 산</p>
<p id="mt5">도전! 어려운 산</p>
<p id="mt6">산책하기 좋은 산</p>
</div>

<!--주제별 더보기-->
<div id="titleDiv"  style="display:none; margin-top: 10px;" class="answer_list">
<table class="table" id="tmore">
    <thead class="thead-dark">
      <tr>
        <th scope="col">인생샷 건지기 좋은 산</th>
        <th scope="col">도전! 어려운 산</th>
        <th scope="col">산책하기 좋은 산</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!--<th scope="row">서울</th>-->
        <td><a href="{% url 'course' %}">인왕산</a></td>
        <td><a href="{% url 'course' %}">아차산</a></td>
        <td><a href="{% url 'course' %}">도봉산</a></td>
      </tr>
      <tr>
        <!--<th scope="row">충청도</th>-->
        <td><a href="{% url 'course' %}">월악산</a></td>
        <td><a href="{% url 'course' %}">지리산</a></td>
        <td><a href="{% url 'course' %}">설악산</a></td>
      </tr>
      <tr>
        <!--<th scope="row">경상북도</th>-->
        <td><a href="{% url 'course' %}">남산</a></td>
        <td><a href="{% url 'course' %}">응봉산</a></td>
        <td><a href="{% url 'course' %}">한양도성 둘레길</a></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
    function showDiv1() {
        var con1 = document.getElementById("regionDiv");
        var con2 = document.getElementById("picture1");
        var con3 = document.getElementById("picture11");
	    if(con1.style.display=='none'){
		    con1.style.display = 'block';
            con2.style.display = 'none';
            con3.style.display = 'none';
	    }else{
		    con1.style.display = 'none';
            con2.style.display = 'block';
            con3.style.display = 'block';
	    }
    }

    function showDiv2() {
        var con = document.getElementById("titleDiv");
        var con2 = document.getElementById("picture2");
        var con3 = document.getElementById("picture22");
	    if(con.style.display=='none'){
		    con.style.display = 'block';
            con2.style.display = 'none';
            con3.style.display = 'none';
	    }else{
		    con.style.display = 'none';
            con2.style.display = 'block';
            con3.style.display = 'block';
	    }
    }
</script>

<style>
  

#mt1 {
    position:relative;
    top: 20px;
    left: 100px;
}

#mt2 {
    position:relative;
    top: -23px;
    left: 500px;
}

#mt3 {
    position:relative;
    top: -70px;
    left: 950px;
}
#mt4 {
    position:relative;
    top: 10px;
    left: 100px;
}
#mt5 {
    position:relative;
    top: -30px;
    left: 430px;
}
#mt6 {
    position:relative;
    top: -70px;
    left: 850px;
}

body {
  padding: 20px;
  padding-left: 50px;
  font-family: sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: 300px;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */

.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}
</style>

{% endblock %}