{% extends 'base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/../static/css/about-mountain.css">
{% endblock %}

{% block content %}

<div class="img_section">
    
</div>
<div id="info_tab">
    <ul class="nav nav-tabs nav-justified ">
        <li class="active">
            <a href="#home" data-toggle="tab">Home</a>
        </li>
        <li>
            <a href="#profile" data-toggle="tab">Profile</a>
        </li>
        <li>
            <a href="#messages" data-toggle="tab">Messages</a>
        </li>
        <li>
            <a href="#settings" data-toggle="tab">Settings</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">Home 메뉴

        </div>
        <div class="tab-pane fade" id="profile">Profile 메뉴

        </div>
        <div class="tab-pane fade" id="messages">Messages 메뉴

        </div>
        <div class="tab-pane fade" id="settings">Settings 메뉴

        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<!-- <script>
    const getJSON = function(url, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
            //접속이 성공적이면 null 값 반환, 아니면 status 값 반환
            const status = xhr.status;
            if (status === 200){
                callback(null, xhr.response);
            } else{
                callback(status, xhr.response);
            }
        };
        xhr.send();
    };


getJSON('https://api.openweathermap.org/data/2.5/weather?q=seoul&appid=93d3ec2a6856fb0094b592b2e8d97d83&units=metric',
function(err, data) {
    //null 값이 아니면 err
    if (err !== null) {
        alert("예상치 못한 오류가 발생하였습니다. 오류 정보\n" + err);
    } else {
        alert(`최소 온도는 ${data.main.temp_min}도 입니다.`);
        alert(`최대 온도는 ${data.main.temp_max}도 입니다.`);
        alert(`현재 온도는 ${data.main.temp}도 입니다.`);

    }
}); -->

<script>
    // 메뉴가 선택되어 active가 되기 전 이벤트
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        e.target // 현재 설정된 tab
        e.relatedTarget // 이전에 설정된 탭
    });
    // 메뉴가 선택되어 active가 된 후 이벤트
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        e.target // 현재 설정된 tab
        e.relatedTarget // 이전에 설정된 탭
    });
    // 다른 메뉴가 선택되어 active가 remove 되기 전 이벤트
    $('a[data-toggle="tab"]').on('hide.bs.tab', function (e) {
        e.target // 현재 설정된 tab
        e.relatedTarget // 이전에 설정된 탭
    });
    // 다른 메뉴가 선택되어 active가 remove 된 후 이벤트
    $('a[data-toggle="tab"]').on('hidden.bs.tab', function (e) {
        e.target // 현재 설정된 tab
        e.relatedTarget // 이전에 설정된 탭
    });
    

</script>

{% endblock %}
